@media screen and (min-width: 480px){
    
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
 
}

@media screen and (min-width: 660px){
    nav{
        background: none;
        float: right;
        font-size: 1.25em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
    font-size: 2.5em;
    }
    h2{
    font-size: 1.0em;
    margin-bottom: 20px; 
     }
    header{
        border-bottom: 5px solid #599a68;
        margin-bottom: 60px;
    }
}